[push]
  default = simple
[user]
  name = BcRikko
  email = "my email"
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
# checkout (co)
  co   = checkout
  cob  = checkout -b
  cod  = checkout develop
  com  = checkout master
  cobr = checkout -t
  copr = "!sh -c 'git fetch origin pull/$1/head:$2 && git checkout $2' -"
# branch (b)
  b  = branch
  bl = branch -l
  ba = branch -a
  bd = branch -d
  bD = branch -D
  bren = branch -m
  feD = !git fetch -p 2>&1 | grep [deleted] | awk '{print $5}' | sed "s/origin\\///" | xargs git branch -D
# pull
  pf = pull --ff
# push
  po  = push origin
  puf = push --force-with-lease
# merge (m)
  mnf    = merge --no-ff
  squash = rebase -i
# cherry-pick (cp)
  cp  = cherry-pick
  cpm = cherry-pick -m 1
# log (l)
  l  = log --oneline
  ls = log --oneline --stat
  lg = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
  lp = log --oneline -p
# stash (st)
  stl = stash list
  stp = stash pop
  sts = stash save
# other
  skip = update-index --skip-worktree
  skip-no = update-index --no-skip-worktree
  soft = reset --soft
  hard = reset --hard
  rev  = revert -m 1
# setup
  local-setup = !git config user.name "BcRikko" && git config user.email "{email}"
  init-commit = commit --allow-empty -m ':seedling: initial commit'

[core]
  autocrlf = false
